<h5>Exemplos de Pipes</h5>

<mat-card>
  <p>Título: {{ livro.titulo }}</p>
  <p>Título: {{ livro.titulo | uppercase}}</p>
  <p>Título: {{ livro.titulo | camelCase}}</p>
</mat-card>
<mat-card>
  <p>Estrelas: {{ livro.rating }}</p>
  <p>Estrelas: {{ livro.rating | number:'2.1-2'}}</p>
  <!--Exibe 2 casas ',' exibe de 1 a 2 casas-->
</mat-card>

<mat-card>
  <p>Páginas: {{ livro.numeroPaginas }}</p>
  <p>Páginas: {{ livro.numeroPaginas | number}}</p>
</mat-card>
<mat-card>
  <p>Preço: {{ livro.preco }}</p>
  <p>Preço: {{ livro.preco | currency:'BRL' }}</p>
</mat-card>
<mat-card>
  <p>Data Lançamento: {{ livro.dataLancamento }}</p>
  <p>Data Lançamento: {{ livro.dataLancamento | date:'short' }}</p>
  <!--date:'dd-MM-yy'-->
</mat-card>
<mat-card>
  <p>Url: {{ livro.url }}</p>
</mat-card>
<mat-card>
  <p>Livro: {{ livro }}</p>
  <p>Livro: {{ livro | json}}</p>
</mat-card>
